<h1>Test</h1>

<!--<div>
  <label>All Static List</label>
    <ul *ngFor = "let item of items" >
      <li>
      {{item.name}} {{item.age}}
    </li>
  </ul>
</div>

<div>
  <label>Filtered List from http\url "Observer"</label><br>
  <button (click)="editFilter()">Filter on Name</button>
  <button (click)="findAll()">findAll Fields</button><br>
  <input type="text" [(ngModel)]="filt">
    <ul *ngFor = "let item2 of items2" >
      <li>
      {{item2.name}} {{item2.age}}
    </li>
  </ul>
</div>
<button (click)="allFields()">all Fileds in Object</button>
-->
<!--<ng2-smart-table [settings]="settings" [source]="items"></ng2-smart-table>-->
<div>
  <input #search class="search" type="text" placeholder="Search..." (keydown.enter)="onSearch(search.value)">
    <ng2-smart-table [settings]="settings" [source]="source" (custom)="onCustom($event)" (userRowSelect)="onSelectRow($event)"></ng2-smart-table>
</div>

<div>
  <h3>Подробная информация о контакте</h3>
    <detail [empl]="selectedEmpolee"></detail>
</div>

<!--<div>
  <label>Filtered List from http\url "Observer" to Array</label><br>
  <input type="text" [(ngModel)]="term">
    <ul *ngFor = "let item of items3 | filter:term" >
      <li>
      {{item.name}} {{item.age}}
    </li>
  </ul>
</div>-->

<!--<div>
  <button (click)="getArray()">getRx</button>
</div>
<div>
  <input type="text" [(ngModel)]="term">
    <ul *ngFor = "let item of items4 |filter:term" >
      <li>
      {{item.name}} {{item.age}}
    </li>
  </ul>
</div>-->
<!--{{rxlist|json}}-->

