<h1>Test</h1>

<!--<div>
  <input type="text" [(ngModel)]="term">
    <ul *ngFor = "let item of items |filter:term" >
      <li>
      {{item.name}} {{item.age}}
    </li>
  </ul>
</div>-->

<div>
  <label>All Static List</label>
    <ul *ngFor = "let item of items" >
      <li>
      {{item.name}} {{item.age}}
    </li>
  </ul>
</div>

<div>
  <label>Filtered List from http\url "Observer"</label><br>
  <input type="text" [(ngModel)]="filt"><button (click)="editFilter()">Filter</button>
    <ul *ngFor = "let item2 of items2" >
      <li>
      {{item2.name}} {{item2.age}}
    </li>
  </ul>
</div>
<!--{{items|json}}-->